<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Express Guestbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<ul>
<li><a href="/index">Lakshmi Godha</a></li>
  <li><a href="/MYCHOICE">Ticket Booking</a></li>
  <li><a href="/about">About Me</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a class="active" href="/guestbook">Guestbook</a></li>
 </ul> 
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>